* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1200px;
  padding: 0px 24px 0px 24px;
  margin: 0 auto;
}

@font-face {
  font-family: "ClashDisplay-Light";
  src: url("../fonts/ClashDisplay-Light.woff2") format("woff2"), url("../fonts/ClashDisplay-Light.woff") format("woff"), url("../fonts/ClashDisplay-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi";
  src: local("Satoshi Light"), local("Satoshi-Light"), url("../fonts/Satoshi-Light.woff2") format("woff2"), url("../fonts/Satoshi-Light.woff") format("woff"), url("../fonts/Satoshi-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
.header__top {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px 20px 0px;
  align-items: center;
  font-family: "ClashDisplay-Light";
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.basket-and-profil {
  display: flex;
  gap: 15px;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  font-family: "Satoshi", sans-serif;
  gap: 44px;
  padding: 20px;
  transition: all 0.3s easy-in-out;
}
.navbar_item {
  color: #726E8D;
}
.navbar_item:hover {
  color: #83A9AC;
}

@media (max-width: 768px) {
  .navbar {
    gap: 20px;
  }
}
.hero__container {
  padding: 60px 30px 60px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.hero__container__left-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  background: #2A254B;
  color: #fff;
  padding: 60px 20px 60px 60px;
}
.hero__container__left-side__top {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 40px;
}
.hero__img {
  width: 100%;
}
.hero-title {
  font-family: "ClashDisplay-Light";
  max-width: 500px;
  font-size: 32px;
  letter-spacing: 1.5px;
}
.hero__description {
  display: flex;
  flex-direction: column-reverse;
  justify-content: start;
  align-items: start;
}
.hero__description__text {
  font-family: "Satoshi", sans-serif;
  font-size: 18px;
}
.hero__button {
  border: none;
  padding: 16px 32px;
  background: rgba(249, 249, 249, 0.15);
  color: #fff;
  font-family: "Satoshi", sans-serif;
  font-size: 16px;
  margin: 35px 0px 15px 0px;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .hero__container {
    padding: 60px 30px 60px 30px;
    display: flex;
    width: 100%;
  }
  .hero__container__left-side {
    padding: 40px 20px 40px 40px;
  }
  .hero__img {
    width: 290px;
  }
}
@media (max-width: 768px) {
  .hero {
    width: 100%;
  }
  .hero-title {
    font-family: "ClashDisplay-Light";
    max-width: 500px;
    font-size: 24px;
  }
  .hero__description {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-top: 80px;
  }
  .hero__description__text {
    font-family: "Satoshi", sans-serif;
    font-size: 16px;
  }
  .hero__button {
    border: none;
    padding: 10px 22px;
    background: rgba(249, 249, 249, 0.15);
    color: #fff;
    font-family: "Satoshi", sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
    cursor: pointer;
  }
}
@media (max-width: 600px) {
  .hero__container {
    padding: 30px 30px 30px 30px;
  }
  .hero__container__left-side {
    padding: 30px 20px 30px 30px;
  }
  .hero__description {
    margin-top: 0px;
  }
  .hero__description__text {
    display: none;
    font-size: 20px;
  }
  .hero__img {
    width: 200px;
    display: flex;
  }
}
@media (max-width: 480px) {
  .hero__container {
    padding: 30px 0px 30px 0px;
  }
  .hero__container__left-side__top-title {
    font-size: 18px;
  }
  .hero__description {
    display: flex;
    margin-top: 100px;
  }
  .hero__description__text {
    display: flex;
  }
  .hero__button {
    width: 100%;
    text-align: center;
  }
  .hero__img {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */