* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1200px;
  padding: 0px 24px 0px 24px;
  margin: 0 auto;
  position: relative;
}

@font-face {
  font-family: "ClashDisplay-Light";
  src: url("../fonts/ClashDisplay-Light.woff2") format("woff2"), url("../fonts/ClashDisplay-Light.woff") format("woff"), url("../fonts/ClashDisplay-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi";
  src: local("Satoshi Light"), local("Satoshi-Light"), url("../fonts/Satoshi-Light.woff2") format("woff2"), url("../fonts/Satoshi-Light.woff") format("woff"), url("../fonts/Satoshi-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
.header__top {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px 20px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  gap: 20px;
}

.header__details {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "ClashDisplay-Light";
  font-size: 24px;
}

.header__icons {
  width: 25px;
  height: auto;
  cursor: pointer;
}

.search-box {
  display: flex;
  align-items: center;
  margin-right: 10px;
  gap: 10px;
}

.search-input {
  width: 100%;
  border: none;
  outline: none;
  font-family: "Satoshi", sans-serif;
  border-bottom: 1px solid #000;
}

.basket-and-profil {
  display: flex;
  gap: 10px;
}

.menu-button {
  display: flex;
  align-items: center;
}

.menu-button__icon,
.x-icon {
  display: none;
}

.menu-profil,
.menu-cart {
  display: none;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  font-family: "Satoshi", sans-serif;
  gap: 44px;
  padding: 20px;
}

.navbar__item {
  color: #726E8D;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: all 0.3s ease-in-out;
}

.navbar__item:hover {
  color: #83A9AC;
}

@media (max-width: 768px) {
  .navbar {
    gap: 20px;
  }
}
@media (max-width: 648px) {
  .basket-and-profil {
    display: none;
  }
  .search-box {
    margin-right: 10px;
  }
  .menu-button__icon {
    display: flex;
  }
  .navbar {
    padding: 20px 120px 20px 50px;
    background: rgba(0, 0, 0, 0.9490196078);
    display: flex;
    flex-direction: column;
    position: absolute;
    transform: translateX(-120%);
    transition: 300ms;
    border-bottom-right-radius: 20px;
    z-index: 999;
  }
  .navbar__item {
    font-size: 20px;
  }
  .menu-profil,
  .menu-cart {
    display: flex;
    gap: 10px;
    font-size: 20px;
    color: #726E8D;
  }
  .menu-active {
    transform: translateX(-10%);
  }
}
.hero__container {
  padding: 60px 30px 60px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.hero__container__left-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  background: #2A254B;
  color: #fff;
  padding: 60px 20px 60px 60px;
}
.hero__container__left-side__top {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 40px;
}
.hero__img {
  width: 100%;
}
.hero-title {
  font-family: "ClashDisplay-Light";
  max-width: 500px;
  font-size: 32px;
  letter-spacing: 1.5px;
}
.hero__description {
  display: flex;
  flex-direction: column-reverse;
  justify-content: start;
  align-items: start;
}
.hero__description__text {
  font-family: "Satoshi", sans-serif;
  font-size: 18px;
}
.hero__button {
  border: none;
  padding: 16px 32px;
  background: rgba(249, 249, 249, 0.15);
  color: #fff;
  font-family: "Satoshi", sans-serif;
  font-size: 16px;
  margin: 35px 0px 15px 0px;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .hero__container {
    padding: 60px 30px 60px 30px;
    display: flex;
    width: 100%;
  }
  .hero__container__left-side {
    padding: 40px 20px 40px 40px;
  }
  .hero__img {
    width: 290px;
  }
}
@media (max-width: 768px) {
  .hero {
    width: 100%;
  }
  .hero-title {
    font-family: "ClashDisplay-Light";
    max-width: 500px;
    font-size: 24px;
  }
  .hero__description {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-top: 80px;
  }
  .hero__description__text {
    font-family: "Satoshi", sans-serif;
    font-size: 16px;
  }
  .hero__button {
    border: none;
    padding: 10px 22px;
    background: rgba(249, 249, 249, 0.15);
    color: #fff;
    font-family: "Satoshi", sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
    cursor: pointer;
  }
}
@media (max-width: 600px) {
  .hero__container {
    padding: 30px 30px 30px 30px;
  }
  .hero__container__left-side {
    padding: 30px 20px 30px 30px;
  }
  .hero__description {
    margin-top: 0px;
  }
  .hero__description__text {
    display: none;
    font-size: 20px;
  }
  .hero__img {
    width: 200px;
    display: flex;
  }
}
@media (max-width: 480px) {
  .hero__container {
    padding: 30px 0px 30px 0px;
  }
  .hero__container__left-side__top-title {
    font-size: 18px;
  }
  .hero__description {
    display: flex;
    margin-top: 100px;
  }
  .hero__description__text {
    display: flex;
  }
  .hero__button {
    width: 100%;
    text-align: center;
  }
  .hero__img {
    display: none;
  }
}
.features {
  padding: 60px 0px 60px 0px;
}
.features__title {
  font-family: "ClashDisplay-Light";
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.features__wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 55px;
}
.features__wrap__block__title {
  font-family: "ClashDisplay-Light";
  font-size: 20px;
  margin-top: 15px;
}
.features__wrap__block__description {
  font-family: "Satoshi", sans-serif;
  font-size: 16px;
  margin-top: 8px;
}

@media (max-width: 768px) {
  .features__wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 480px) {
  .features__wrap {
    grid-template-columns: 1fr;
  }
}
.listing__one {
  padding: 80px 0px 80px 0px;
}

.listing__one__products-wrap {
  display: flex;
  gap: 20px;
}

.listing__one__products-wrap__product-card {
  width: 100%;
  overflow: hidden;
}

.section-title {
  font-family: "ClashDisplay-Light";
  font-size: 28px;
  margin-bottom: 30px;
}

.product__card__title {
  font-family: "Satoshi", sans-serif;
  font-size: 20px;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  overflow-x: hidden;
}

.product__card__price {
  font-family: "Satoshi", sans-serif;
  font-size: 18px;
}

.product__card__img {
  width: 100%;
}

.view-collection-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 16px 32px;
  border: none;
  font-size: 16px;
  font-family: "Satoshi", sans-serif;
  cursor: pointer;
  margin-top: 45px;
}

@media (max-width: 768px) {
  .listing__one {
    padding: 50px 0px 50px 0px;
  }
  .listing__one__products-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 480px) {
  .section-title {
    font-family: "ClashDisplay-Light";
    font-size: 20px;
    margin-bottom: 15px;
  }
  .view-collection-btn {
    width: 100%;
  }
}
@media (max-width: 360px) {
  .product__card__img {
    width: 100%;
    margin-bottom: 0px;
  }
  .product__card__price {
    font-family: "Satoshi", sans-serif;
    font-size: 16px;
  }
}
.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  gap: 20px;
  overflow: hidden;
  width: 100%;
}

.carousel {
  max-width: 100%;
  grid-auto-columns: calc(28.5714285714% - 12px);
  list-style: none;
  scroll-behavior: smooth;
  margin-bottom: 50px;
}

.carousel.dragging {
  scroll-behavior: auto;
}

.carousel__product-card {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.carousel__product-card__img {
  width: 100%;
}

.carousel__product-card__title {
  font-family: "Satoshi", sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  overflow-x: hidden;
}

.carousel__product-card__price {
  font-family: "Satoshi", sans-serif;
  font-size: 18px;
}

i {
  height: 50px;
  width: 50px;
  background: rgba(238, 238, 238, 0.648);
  border-radius: 50%;
  line-height: 50px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%, 50%);
}

i:first-child {
  left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

i:last-child {
  right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  width: 0;
}

@media (max-width: 768px) {
  .carousel {
    grid-auto-columns: calc(40% - 12px);
  }
  .wrapper .carousel {
    gap: 10px;
    overflow-x: scroll;
  }
  i:last-child,
  i:first-child {
    display: none;
  }
}
@media (max-width: 480px) {
  .carousel {
    grid-auto-columns: calc(66.6666666667% - 12px);
  }
  .fa-solid {
    display: none;
  }
}
@media (max-width: 360px) {
  .carousel__product-card__title {
    font-size: 18px;
  }
  .carousel__product-card__price {
    font-size: 16px;
  }
}
.content-join-form {
  padding: 50px 0px 100px 0px;
  display: block;
  background: #F9F9F9;
}

.content-join-form__inner {
  display: flex;
  flex-direction: column;
  max-width: 550px;
  margin: 0 auto;
}

.content-join-form__title {
  font-family: "ClashDisplay-Light";
  font-size: 36px;
  text-align: center;
}

.content-join-form__description {
  font-family: "Satoshi", sans-serif;
  font-size: 16px;
  margin-top: 15px;
  padding: 0px 40px 0px 40px;
  text-align: center;
}

.join-form {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.join-input {
  padding: 17px 32px 17px 20px;
  border: none;
  background: #efefef;
  outline: none;
  width: 420px;
  font-family: "Satoshi", sans-serif;
  font-size: 16px;
}

.sign-up {
  padding: 16px 32px;
  border: none;
  outline: none;
  background: #2A254B;
  color: white;
  text-wrap: nowrap;
  font-family: "Satoshi", sans-serif;
  font-size: 16px;
  cursor: pointer;
}

@media (max-width: 480px) {
  .join-form {
    margin-top: 60px;
  }
  .join-input {
    width: 100%;
    font-size: 14px;
  }
  .sign-up {
    font-size: 14px;
  }
  .content-join-form__title {
    font-size: 20px;
    text-align: left;
  }
  .content-join-form__description {
    font-size: 14px;
    text-align: left;
    padding: 0px;
  }
}
.bottom-features__inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 100px;
}

.bottom-features__inner__left-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding: 70px 0px 0px 0px;
  position: relative;
}

.bottom-features__title {
  font-family: "ClashDisplay-Light";
  font-size: 24px;
}

.bottom-features__description {
  font-family: "Satoshi", sans-serif;
  font-size: 16px;
  margin-top: 25px;
}

.bottom-features__btn {
  margin: auto 0;
  padding: 16px 32px;
  background: #f5f5f5;
  border: none;
  color: #2A254B;
  font-family: "Satoshi", sans-serif;
  font-size: 16px;
  cursor: pointer;
  margin-top: 65px;
}

.bottom-features__img {
  width: 50%;
}

@media (max-width: 768px) {
  .bottom-features__inner__left-side {
    padding: 40px 0px 0px 0px;
  }
  .bottom-features__inner {
    display: flex;
    flex-direction: column;
    gap: 45px;
  }
  .bottom-features__title {
    font-size: 20px;
  }
  .bottom-features__description {
    font-size: 14px;
  }
  .bottom-features__img {
    width: 100%;
  }
}
.footer {
  background: #2A254B;
  padding: 55px 0px 25px 0px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  flex-wrap: nowrap;
}

.footer__left-side {
  width: 100%;
  color: #fff;
}

.footer-navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 75px;
  flex-wrap: wrap;
}

.footer-menu {
  display: block;
  list-style: none;
}

.menu-title {
  font-family: "ClashDisplay-Light";
  font-size: 16px;
}

.footer-menu__item {
  padding: 12px 0px 12px 0px;
  font-family: "Satoshi", sans-serif;
  font-size: 14px;
}

.footer__right-side {
  display: block;
}

.mail-text {
  font-family: "ClashDisplay-Light";
  font-size: 16px;
  color: #fff;
  margin-bottom: 15px;
}

.footer__join-form {
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer__join-input {
  padding: 17px 32px 17px 20px;
  border: none;
  background: rgba(255, 255, 255, 0.15);
  outline: none;
  max-width: 100%;
  font-family: "Satoshi", sans-serif;
  font-size: 16px;
  color: #fff;
}

.footer__sign-up {
  padding: 14px 28px;
  border: none;
  outline: none;
  background: #fff;
  color: #2A254B;
  text-wrap: nowrap;
  font-family: "Satoshi", sans-serif;
  font-size: 16px;
  cursor: pointer;
}

.footer-line {
  width: 100%;
  height: 1px;
  background: #4E4D93;
  margin: 35px 0px 25px 0px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-link {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer-text {
  font-family: "Satoshi", sans-serif;
  font-size: 14px;
  color: #fff;
}

@media (max-width: 768px) {
  .footer-top {
    display: flex;
    flex-direction: column;
    gap: 35px;
  }
  .footer__join-input {
    width: 100%;
  }
  .footer-navbar {
    width: 100%;
    display: flex;
    justify-content: start;
    gap: 65px;
    flex-wrap: wrap;
  }
}
@media (max-width: 480px) {
  .footer-bottom {
    justify-content: center;
  }
  .social-link {
    display: none;
  }
}
.product {
  padding: 50px 0px 50px 0px;
  background: #F9F9F9;
}

.product-container {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 65px;
}

.product-container__img {
  width: 100%;
}

.product__img {
  width: 100%;
}

.product-container__right-side {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.product-title {
  font-family: "ClashDisplay-Light";
  font-size: 36px;
  margin-bottom: 15px;
}

.product-price {
  font-family: "Satoshi", sans-serif;
  font-size: 24px;
}

.product-page-line {
  width: 80%;
  height: 1px;
  background: #EBE8F4;
  margin: 30px 0px 25px 0px;
}

.produst-desctipton-title {
  font-family: "ClashDisplay-Light";
  font-size: 16px;
  margin: 0px 0px 15px 0px;
}

.product-description {
  font-family: "Satoshi", sans-serif;
  font-size: 16px;
  margin: 0px 0px 35px 0px;
}

.table-title {
  font-family: "ClashDisplay-Light";
  font-size: 16px;
  margin: 0px 0px 25px 0px;
}

.custom-table {
  display: flex;
  gap: 49px;
  margin: 0px 0px 40px 0px;
}

.product-col {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.table-line {
  width: 1px;
  height: auto;
  background: #EBE8F4;
}

.product-row__txt {
  font-family: "ClashDisplay-Light";
  font-size: 14px;
}

.product-row__value {
  font-family: "Satoshi", sans-serif;
  font-size: 18px;
}

.product-quantitity {
  font-family: "ClashDisplay-Light";
  font-size: 16px;
  margin: 0px 0px 10px 0px;
}

.stepper {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 14px 16px;
  gap: 30px;
}

.plus,
.minus {
  border: none;
  background: none;
  font-family: "ClashDisplay-Light";
  font-size: 28px;
  cursor: pointer;
}

.quantity__number {
  font-family: "Satoshi", sans-serif;
  font-size: 18px;
}

.add-buttons {
  display: flex;
  gap: 15px;
  margin-top: 25px;
}

.add-to-cart {
  background: #2A254B;
  color: #fff;
}

.add-to-cart,
.save-to-favorites {
  padding: 16px 32px;
  border: none;
  font-family: "Satoshi", sans-serif;
  font-size: 16px;
  cursor: pointer;
}

@media (max-width: 648px) {
  .product-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 65px;
  }
}
@media (max-width: 480px) {
  .product-container {
    gap: 30px;
  }
  .product-title {
    font-size: 24px;
    margin-bottom: 5px;
  }
  .product-price {
    font-size: 20px;
  }
  .product-page-line {
    width: 80%;
    height: 1px;
    background: #EBE8F4;
    margin: 10px 0px 20px 0px;
  }
  .custom-table {
    gap: 35px;
  }
}
@media (max-width: 360px) {
  .stepper {
    width: 100%;
    justify-content: space-between;
  }
  .add-buttons {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }
  .custom-table {
    gap: 25px;
  }
  .product {
    padding: 25px 0px 50px 0px;
  }
}/*# sourceMappingURL=style.css.map */