.header
    &__top
        display: flex
        justify-content: space-between
        padding: 20px 0px 20px 0px
        align-items: center
        font-family: 'ClashDisplay-Light'
        border-bottom: 1px solid rgba(0, 0, 0, 0.10)
    &__icons
        width: 22px
.logo
    display: flex
    align-items: center
    justify-content: center
.basket-and-profil
    display: flex
    gap: 15px
.menu-button
    display: none
.navbar
    display: flex
    flex-wrap: wrap
    justify-content: center
    align-content: center
    font-family: 'Satoshi', sans-serif
    gap: 44px
    padding: 20px
    transition: all .3s easy-in-out
    &_item
        color: #726E8D
    &_item:hover
        color: #83A9AC

@media (max-width:768px)
    .navbar
        gap: 20px
@media (max-width:648px)
    .basket,
    .profil
        display: none
    .logo
        order: 1
    .search-box
        order: 2
        display: flex
        gap: 15px
    .menu-button
        order: 3
        display: flex
        width: 22px
    .navbar
        padding: 20px 120px 20px 50px
        background: #000000f2
        display: flex
        flex-direction: column
        position: absolute
        transform: translateX(-120%) 
        transition: 300ms 
        border-bottom-right-radius:  20px
    .menu-active
        transform: translateX(-20%)