.listing__one{
    padding: 80px 0px 80px 0px;
}
.listing__one__products-wrap{
    display: flex;
    gap: 20px;
}    
.listing__one__products-wrap__product-card{
    width: 100%;
    overflow: hidden;
}             
.section-title{
    font-family: 'ClashDisplay-Light';
    font-size: 28px;
    margin-bottom: 30px;
}
.product__card__title{
    font-family: 'Satoshi', sans-serif;
    font-size: 20px;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    overflow-x: hidden;
}
.product__card__price{
    font-family: 'Satoshi', sans-serif;
    font-size: 18px;
}
.product__card__img{
    width: 100%;
}

@media (max-width: 768px){
    .listing__one{
        padding: 80px 0px 80px 0px;
    }
    .listing__one__products-wrap{
        display: grid;
        grid-template-columns: 1fr 1fr;
    } 
}

@media (max-width: 480px){
    .section-title{
        font-family: 'ClashDisplay-Light';
        font-size: 20px;
        margin-bottom: 15px;
    }
}


@media (max-width: 360px){
    .product__card__img{
        width: 100%;
        margin-bottom: 0px;
    }
    .product__card__price{
    
        font-family: 'Satoshi', sans-serif;
        font-size: 16px;
    }
}