.slider{
    display: flex;
    gap: 20px;
    padding: 20px 0px 20px 0px;
    overflow-x: scroll;
}
.slider-box{
    scroll-snap-type: mandatory;
    display: flex;
    gap: 20px
}
    
.box{
    width: 700px;
    height: 200px;
    background: red;
    cursor: grab;
}